sip==6.6.2
jupyter-server==1.23.4
sphinxcontrib-serializinghtml==1.1.5
dask==2023.6.0
pyasn1==0.4.8
conda-libmamba-solver==23.7.0
python-slugify==5.0.2
hvplot==0.8.4
qtconsole==5.4.2
conda-verify==3.4.2
pep8==1.7.1
sympy==1.11.1
rfc3339-validator==0.1.4
backports.tempfile==1.0
executing==0.8.3
docstring-to-markdown==0.11
multitasking==0.0.11
text-unidecode==1.3
PyWavelets==1.4.1
pandas==1.5.3
conda-build==3.27.0
queuelib==1.5.0
decorator==5.1.1
prompt-toolkit==3.0.36
gmpy2==2.1.2
mypy-extensions==0.4.3
s3fs==2023.3.0
notebook==6.5.4
contourpy==1.0.5
Werkzeug==2.2.3
botocore==1.27.59
pooch==1.4.0
conda==23.9.0
fsspec==2023.3.0
mdit-py-plugins==0.3.0
jupyter_server_ydoc==0.8.0
Jinja2==3.1.2
tables==3.8.0
jaraco.classes==3.2.1
charset-normalizer==2.0.4
jupyter-ydoc==0.2.4
multipledispatch==0.6.0
Markdown==3.4.1
pandocfilters==1.5.0
ptyprocess==0.7.0
mdurl==0.1.0
sphinxcontrib-devhelp==1.0.2
service-identity==18.1.0
statsmodels==0.14.0
Unidecode==1.2.0
nbclient==0.5.13
yarl==1.8.1
opencv-contrib-python==4.10.0.84
matplotlib==3.7.1
keyring==23.13.1
tinycss2==1.2.1
astropy==5.1
pycosat==0.6.4
toml==0.10.2
flake8==6.0.0
python-lsp-jsonrpc==1.0.0
filelock==3.13.1
filelock==3.15.1
jsonpatch==1.32
lazy_loader==0.2
lxml==4.9.2
lxml==4.9.1
multidict==6.0.2
holoviews==1.17.0
colorama==0.4.6
anyio==3.5.0
python-dateutil==2.8.2
constantly==15.1.0
pylint-venv==2.3.0
scikit-learn==1.3.0
smart-open==5.2.1
pyerfa==2.0.0
tldextract==3.2.0
intervaltree==3.1.0
s3transfer==0.6.0
parsel==1.6.0
Pygments==2.15.1
datashape==0.5.4
entrypoints==0.4
et-xmlfile==1.1.0
rope==1.7.0
tornado==6.3.2
pathspec==0.10.3
itemadapter==0.3.0
async-timeout==4.0.2
python-json-logger==2.0.7
python-lsp-server==1.7.2
tomlkit==0.11.1
networkx==3.1
panel==1.2.1
cytoolz==0.12.0
defusedxml==0.7.1
pytz==2022.7
wandb==0.19.7
jedi==0.18.1
yfinance==0.2.54
stack-data==0.2.0
requests==2.32.3
pickleshare==0.7.5
py-cpuinfo==8.0.0
Rtree==1.0.1
Bottleneck==1.3.5
pydantic==2.10.6
nest-asyncio==1.5.6
jupyter-events==0.6.3
locket==1.0.0
bokeh==3.2.1
msgpack==1.0.3
bleach==4.1.0
torchaudio==2.2.2
truststore==0.10.0
Send2Trash==1.8.0
parso==0.8.3
pip==23.2.1
six==1.16.0
pathlib==1.0.1
PyQt5-Qt5==5.15.14
GitPython==3.1.44
spyder-kernels==2.4.3
jupyterlab-widgets==3.0.5
ipykernel==6.19.2
libmambapy==1.4.1
ipywidgets==8.0.4
pyasn1-modules==0.2.8
openai==0.28.1
kiwisolver==1.4.4
incremental==21.3.0
plotly==5.9.0
scikit-image==0.20.0
appnope==0.1.2
jupyter-console==6.6.3
conda-content-trust==0+unknown
webencodings==0.5.1
anaconda-navigator==2.4.2
inflection==0.5.1
future==0.18.3
hyperlink==21.0.0
cloudpickle==2.2.1
aiofiles==22.1.0
navigator-updater==0.4.0
clyent==1.2.2
isort==5.9.3
jupyterlab_server==2.22.0
regex==2022.7.9
asttokens==2.0.5
ruamel-yaml-conda==0.17.21
importlib-metadata==6.0.0
numba==0.57.0
Sphinx==5.0.2
PySocks==1.7.1
traitlets==5.7.1
Babel==2.11.0
distlib==0.3.8
setuptools==68.0.0
sentry-sdk==2.22.0
QtPy==2.2.0
psutil==5.9.0
nbformat==5.7.0
protobuf==5.29.3
pyct==0.5.0
argon2-cffi==21.3.0
threadpoolctl==2.2.0
patsy==0.5.3
anaconda-project==0.11.1
dill==0.3.6
MarkupSafe==2.1.1
jmespath==0.10.0
applaunchservices==0.3.0
typing_extensions==4.13.2
typing_extensions==4.12.2
numexpr==2.8.4
partd==1.2.0
pkginfo==1.9.6
cookiecutter==1.7.3
wurlitzer==3.0.2
pyls-spyder==0.4.0
tabulate==0.8.10
markdown-it-py==2.2.0
debugpy==1.6.7
sniffio==1.2.0
colorcet==3.0.1
sacremoses==0.0.43
linkify-it-py==2.0.0
sphinxcontrib-applehelp==1.0.2
glob2==0.7
boto3==1.24.28
platformdirs==3.10.0
platformdirs==4.2.2
pyviz-comms==2.3.0
aioitertools==0.7.1
arrow==1.2.3
appdirs==1.4.4
pyflakes==3.0.1
idna==3.4
websocket-client==0.58.0
QDarkStyle==3.0.2
zict==2.2.0
jupyter_client==7.4.9
conda-repo-cli==1.0.41
wrapt==1.14.1
atomicwrites==1.4.0
pyrsistent==0.18.0
intake==0.6.8
sphinxcontrib-jsmath==1.0.1
watchdog==2.1.6
pycparser==2.21
pyzmq==23.2.0
jupyter_core==5.3.0
pyobjc-framework-CoreServices==9.0
diff-match-patch==20200713
yapf==0.31.0
tifffile==2021.7.2
imbalanced-learn==0.10.1
llvmlite==0.40.0
aiohttp==3.8.3
pure-eval==0.2.2
backports.weakref==1.0.post1
backports.functools-lru-cache==1.6.4
backcall==0.2.0
fonttools==4.25.0
wheel==0.38.4
lz4==4.3.2
cycler==0.11.0
pytest==7.4.0
chardet==4.0.0
peewee==3.17.9
pytoolconfig==1.2.5
click==8.0.4
pyodbc==4.0.34
pycodestyle==2.10.0
pluggy==1.0.0
gitdb==4.0.12
conda_package_streaming==0.9.0
tblib==1.7.0
iniconfig==1.1.1
lazy-object-proxy==1.6.0
matplotlib-inline==0.1.6
PyJWT==2.4.0
pylint==2.16.2
fastjsonschema==2.16.2
requests-file==1.5.1
nbclassic==0.5.5
joblib==1.2.0
terminado==0.17.1
imagecodecs==2021.8.26
itemloaders==1.0.4
mpmath==1.3.0
ipython-genutils==0.2.0
pipenv==2024.0.1
virtualenv==20.26.2
xyzservices==2022.9.0
SQLAlchemy==1.4.39
mccabe==0.7.0
pyobjc-framework-Cocoa==9.0
sortedcontainers==2.4.0
ujson==5.4.0
sphinxcontrib-htmlhelp==2.0.0
Automat==20.2.0
pyOpenSSL==23.2.0
binaryornot==0.4.4
greenlet==2.0.1
beautifulsoup4==4.12.2
nltk==3.8.1
pillow==11.0.0
torch==2.2.2
certifi==2025.1.31
jupyter==1.0.0
setproctitle==1.3.5
conda-package-handling==2.2.0
imagesize==1.4.1
aiosqlite==0.18.0
sphinxcontrib-qthelp==1.0.3
pydantic_core==2.27.2
qstylizer==0.2.2
poyo==0.5.0
PyQt5-sip==12.13.0
PyQt5-sip==12.11.0
QtAwesome==1.2.2
pexpect==4.8.0
imageio==2.31.1
torchvision==0.17.2
opencv-python==4.11.0.86
cffi==1.15.1
bcrypt==3.2.0
zstandard==0.19.0
ipython==8.12.0
jinja2-time==0.2.0
conda-pack==0.6.0
pygame==2.6.1
pyobjc-core==9.0
jupyterlab==3.6.3
frozenlist==1.3.3
appscript==1.1.2
black==0.0
PyQt5==5.14.1
Scrapy==2.8.0
astroid==2.14.2
attrs==22.1.0
w3lib==1.21.0
wcwidth==0.2.5
docutils==0.18.1
python-lsp-black==1.2.1
xlwings==0.29.1
pydocstyle==6.3.0
comm==0.1.2
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
munkres==1.1.4
PyDispatcher==2.0.5
jellyfish==0.9.0
brotlipy==0.7.0
more-itertools==8.12.0
widgetsnbextension==4.0.5
jupyter_server_fileid==0.9.0
jsonpointer==2.1
requests-toolbelt==1.0.0
soupsieve==2.4
numpy==1.24.3
snowballstemmer==2.2.0
argon2-cffi-bindings==21.2.0
ruamel.yaml==0.17.21
datashader==0.15.1
lmdb==1.4.1
tenacity==8.2.2
pyarrow==11.0.0
pyobjc-framework-FSEvents==9.0
openpyxl==3.0.10
PyYAML==6.0.2
spyder==5.4.3
smmap==5.0.2
Protego==0.1.16
anaconda-client==1.12.0
itsdangerous==2.0.1
python-snappy==0.6.1
ply==3.11
notebook_shim==0.2.2
mistune==0.8.4
Flask==2.2.2
libarchive-c==2.9
jupyterlab-pygments==0.1.2
aiobotocore==2.4.2
conda-token==0.5.0+1.g2209e04
pycurl==7.45.2
whatthepatch==1.0.2
TBB==0.2
alabaster==0.7.12
ypy-websocket==0.8.2
cssselect==1.1.0
json5==0.9.6
cryptography==39.0.1
y-py==0.5.9
tqdm==4.65.0
toolz==0.12.0
anaconda-catalogs==0.2.0
zipp==3.11.0
aiosignal==1.2.0
zope.interface==5.4.0
prometheus-client==0.14.1
packaging==23.0
h5py==3.7.0
nbconvert==6.5.4
HeapDict==1.0.1
urllib3==1.26.16
numpydoc==1.5.0
frozendict==2.4.6
param==1.13.0
three-merge==0.1.1
distributed==2023.6.0
annotated-types==0.7.0
scipy==1.10.1
autopep8==1.6.0
gensim==4.3.0
pyparsing==3.0.9
seaborn==0.12.2
transformers==2.1.1
boltons==23.0.0
conda_index==0.2.3
Twisted==22.10.0
uc-micro-py==1.0.1
labelImg==1.8.6
textdistance==4.2.1
xarray==2023.6.0
jsonschema==4.17.3
